In [3]:
# open the Employe_Performance_dataset
%pip install polars

Collecting polars
  Downloading polars-1.17.1-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (14 kB)
Downloading polars-1.17.1-cp39-abi3-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (36.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 36.4/36.4 MB 25.3 MB/s eta 0:00:0000:0100:01
Installing collected packages: polars
Successfully installed polars-1.17.1
Note: you may need to restart the kernel to use updated packages.

In [6]:
import polars as pl
import numpy as np
import matplotlib.pyplot as plt

# open the Employe_Performence_dataset
df = pl.read_csv('Employe_Performance_dataset.csv')
df

shape: (1_000, 12)
┌──────┬────────────────────┬─────┬────────┬───┬────────────┬──────────┬─────────────┬─────────┐
│ ID   ┆ Name               ┆ Age ┆ Gender ┆ … ┆ Experience ┆ Status   ┆ Location    ┆ Session │
│ ---  ┆ ---                ┆ --- ┆ ---    ┆   ┆ ---        ┆ ---      ┆ ---         ┆ ---     │
│ i64  ┆ str                ┆ i64 ┆ str    ┆   ┆ i64        ┆ str      ┆ str         ┆ str     │
╞══════╪════════════════════╪═════╪════════╪═══╪════════════╪══════════╪═════════════╪═════════╡
│ 1    ┆ Cory Escobar       ┆ 48  ┆ Female ┆ … ┆ 16         ┆ Active   ┆ New York    ┆ Night   │
│ 2    ┆ Timothy Sanchez    ┆ 25  ┆ Other  ┆ … ┆ 11         ┆ Inactive ┆ Los Angeles ┆ Evening │
│ 3    ┆ Chad Nichols       ┆ 57  ┆ Other  ┆ … ┆ 1          ┆ Inactive ┆ New York    ┆ Morning │
│ 4    ┆ Christine Williams ┆ 58  ┆ Female ┆ … ┆ 13         ┆ Inactive ┆ Los Angeles ┆ Evening │
│ 5    ┆ Amber Harris       ┆ 35  ┆ Other  ┆ … ┆ 16         ┆ Inactive ┆ New York    ┆ Evening │
│ …    ┆ …                  ┆ …   ┆ …      ┆ … ┆ …          ┆ …        ┆ …           ┆ …       │
│ 996  ┆ Pamela Reeves      ┆ 49  ┆ Female ┆ … ┆ 3          ┆ Active   ┆ Los Angeles ┆ Evening │
│ 997  ┆ Todd Johnson       ┆ 29  ┆ Female ┆ … ┆ 12         ┆ Inactive ┆ New York    ┆ Morning │
│ 998  ┆ Michael Sanchez    ┆ 18  ┆ Male   ┆ … ┆ 3          ┆ Active   ┆ New York    ┆ Morning │
│ 999  ┆ Ashley Taylor      ┆ 51  ┆ Female ┆ … ┆ 9          ┆ Inactive ┆ Los Angeles ┆ Evening │
│ 1000 ┆ Shawn Scott        ┆ 45  ┆ Male   ┆ … ┆ 4          ┆ Active   ┆ New York    ┆ Morning │
└──────┴────────────────────┴─────┴────────┴───┴────────────┴──────────┴─────────────┴─────────┘

In [11]:
# find the number of rows and columns 
print(df.shape)
# print the number of duplications  
print(df.is_duplicated().sum())
# print the number of null
print(df.null_count().sum())

(1000, 12)
0
shape: (1, 12)
┌─────┬──────┬─────┬────────┬───┬────────────┬────────┬──────────┬─────────┐
│ ID  ┆ Name ┆ Age ┆ Gender ┆ … ┆ Experience ┆ Status ┆ Location ┆ Session │
│ --- ┆ ---  ┆ --- ┆ ---    ┆   ┆ ---        ┆ ---    ┆ ---      ┆ ---     │
│ u32 ┆ u32  ┆ u32 ┆ u32    ┆   ┆ u32        ┆ u32    ┆ u32      ┆ u32     │
╞═════╪══════╪═════╪════════╪═══╪════════════╪════════╪══════════╪═════════╡
│ 0   ┆ 0    ┆ 0   ┆ 0      ┆ … ┆ 0          ┆ 0      ┆ 0        ┆ 0       │
└─────┴──────┴─────┴────────┴───┴────────────┴────────┴──────────┴─────────┘

In [14]:
# sort the Joining Date column 
df = df.sort("Joining Date")
df

shape: (1_000, 12)
┌─────┬────────────────┬─────┬────────┬───┬────────────┬──────────┬─────────────┬─────────┐
│ ID  ┆ Name           ┆ Age ┆ Gender ┆ … ┆ Experience ┆ Status   ┆ Location    ┆ Session │
│ --- ┆ ---            ┆ --- ┆ ---    ┆   ┆ ---        ┆ ---      ┆ ---         ┆ ---     │
│ i64 ┆ str            ┆ i64 ┆ str    ┆   ┆ i64        ┆ str      ┆ str         ┆ str     │
╞═════╪════════════════╪═════╪════════╪═══╪════════════╪══════════╪═════════════╪═════════╡
│ 717 ┆ Jeff Johnson   ┆ 20  ┆ Other  ┆ … ┆ 11         ┆ Inactive ┆ New York    ┆ Morning │
│ 383 ┆ Kelly Norton   ┆ 30  ┆ Female ┆ … ┆ 1          ┆ Inactive ┆ New York    ┆ Morning │
│ 44  ┆ Cindy Nichols  ┆ 64  ┆ Female ┆ … ┆ 6          ┆ Active   ┆ New York    ┆ Night   │
│ 186 ┆ Jane Gardner   ┆ 51  ┆ Other  ┆ … ┆ 11         ┆ Inactive ┆ Los Angeles ┆ Night   │
│ 313 ┆ Sean Barrett   ┆ 26  ┆ Female ┆ … ┆ 18         ┆ Active   ┆ Los Angeles ┆ Night   │
│ …   ┆ …              ┆ …   ┆ …      ┆ … ┆ …          ┆ …        ┆ …           ┆ …       │
│ 478 ┆ Mary Arias     ┆ 19  ┆ Male   ┆ … ┆ 7          ┆ Active   ┆ Chicago     ┆ Evening │
│ 419 ┆ Sonia Davis    ┆ 27  ┆ Male   ┆ … ┆ 14         ┆ Active   ┆ New York    ┆ Morning │
│ 245 ┆ Justin Hampton ┆ 55  ┆ Male   ┆ … ┆ 10         ┆ Inactive ┆ New York    ┆ Morning │
│ 936 ┆ Ryan Vazquez   ┆ 62  ┆ Female ┆ … ┆ 17         ┆ Active   ┆ Chicago     ┆ Morning │
│ 170 ┆ George Bowers  ┆ 24  ┆ Other  ┆ … ┆ 4          ┆ Active   ┆ New York    ┆ Night   │
└─────┴────────────────┴─────┴────────┴───┴────────────┴──────────┴─────────────┴─────────┘